.btn {
  border: 0;
  background: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  cursor: pointer;

  @include respond(tab-pot) {
    padding: 2rem 2rem;
  }

  &--dark {
    background-image: var(--linear-gradient);
    color: var(--very-light-grayish-blue);
    border: 1px solid var(--very-light-grayish-blue);
    transition: all 0.3s;

    &:hover {
      background-image: none;
      background-color: var(--very-light-grayish-blue);
      color: var(--blue);
      border: 1px solid var(--blue);
    }
  }

  &--light {
    background-image: none;
    background-color: var(--very-light-grayish-blue);
    color: var(--blue);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: var(--very-light-grayish-blue);
      border: 1px solid var(--very-light-grayish-blue);
    }
  }
}
